---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("../pages/post/*.mdx");
---

<Layout title="용석 블로그">
  <main>
    {
      posts.map((post) => (
        <a href={post.url}>
          <li class="post_item">
            <span class="title">{post.frontmatter.title}</span>
            <div class="symbol_container">
              <div class="symbol">{post.frontmatter.author[0]}</div>
              {post.frontmatter.categories &&
                post.frontmatter.categories.map((c: string) => (
                  <div class={`symbol ${c}`}>{c}</div>
                ))}
            </div>
            <div class="date">{post.frontmatter.date}</div>
          </li>
        </a>
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  a {
    color: white;
    text-decoration: none;
  }

  li.post_item {
    background-color: black;
    list-style: none;
    font-weight: 800;
    padding: 8px;
    line-height: 64px;
    font-size: 64px;
    display: flex;

    .title {
      border-top: 3px solid white;
      padding-top: 2px;
    }
    .symbol_container {
      display: flex;
      gap: 8px;
    }

    .symbol {
      background-color: #fccc0a;
      aspect-ratio: 1 /1;
      width: 64px;
      height: 64px;
      text-align: center;
      line-height: 64px;
      font-size: 50px;
      border-radius: 50%;
      color: black;

      + .S {
        background-color: #0039a6;
        color: white;
      }
    }

    .date {
      margin-left: auto;
      line-height: 64px;
      text-align: right;
    }
  }

  li.post_item a {
  }
</style>
