---
// link preview component
interface Props {
  src: string;
}
import jsdom from "jsdom";
const { src } = Astro.props;

const response = await fetch(src);
console.log(src);
console.log(response.status);
const html = await response.text();
const { document } = new jsdom.JSDOM(html)?.window;
const title = document.querySelector("title")?.textContent;
const description = document
  .querySelector("meta[name=description]")
  ?.getAttribute("content");
const image = document
  .querySelector("meta[property='og:image']")
  ?.getAttribute("content");
console.log({ title, description, image, src });
---

<a class="link-preview" href={src} target="_blank" rel="noopener noreferrer">
  <div class="info">
    <h3>{title}</h3>
    <p>{description}</p>
    <span>{src}</span>
  </div>
  <img class="link-image" src={image} alt={title} />
</a>
<style>
  .link-preview {
    display: grid;
    grid-template-columns: 1fr 20%;
    height: 180px;
    max-height: 180px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 0.5em;
    text-decoration: none;
    border: 1px solid rgb(var(--gray-light));
    column-gap: 1em;
    margin: 1em 0 2em;
    font-size: 16px;

    @media (max-width: 768px) {
      height: 120px;
      max-height: 120px;
      padding: 0.5em;
      margin: 0.5em 0 1em;
      font-size: 12px;
    }
  }

  .link-preview:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
  }

  .info {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    border-right: 1px solid rgb(var(--gray-light));
  }

  .info h3 {
    margin: 0;
    font-size: 1.2em;

    @media (max-width: 768px) {
      font-size: 1em;
    }
  }

  .info p {
    margin: 0;
    color: rgb(var(--gray-dark));
    font-size: 0.9em;
    height: fit-content;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 768px) {
      font-size: 0.8em;
    }
  }

  .info span {
    color: rgb(var(--gray));
    font-size: 0.7em;
    margin-top: auto;

    @media (max-width: 768px) {
      font-size: 0.6em;
    }
  }

  .link-image {
    object-fit: cover;
    margin: 0;
    width: -webkit-fill-available;
    max-height: calc(180px - 2em);
    border-radius: 0.25em;
  }
</style>
