---
// link preview component
interface Props {
  src: string;
  title?: string;
  description?: string;
}
import jsdom from "jsdom";
const { src, title: _title, description: _description } = Astro.props;

let title = _title;
let description = _description;
let image: string | null | undefined;

try {
  const response = await fetch(src);
  const html = await response.text();
  const { document } = new jsdom.JSDOM(html)?.window;

  title = title || document.querySelector("title")?.textContent || src;
  description =
    description ||
    document.querySelector("meta[name=description]")?.getAttribute("content") ||
    "No description available";
  image = document
    .querySelector("meta[property='og:image']")
    ?.getAttribute("content");
} catch (error) {
  console.error(`Failed to fetch or parse ${src}:`, error);
  title = title || src;
  description = description || "No description available";
}
---

<a
  class="link-preview group/item
  bg-white dark:bg-zinc-800 text-black/50 dark:text-white/75
  border border-black/15 dark:border-white/20
  rounded-md overflow-hidden max-h-40 mb-4
  hover:-translate-y-2 transition-transform duration-200 ease-in-out
    hover:shadow-lg"
  href={src}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="p-4 h-auto box-border">
    <h3
      class="m-0 line-clamp-2 whitespace-normal break-all text-base text-semibold"
    >
      {title}
    </h3>
    <p
      class="text-black/50 dark:text-white/75
    text-sm line-clamp-2 whitespace-normal break-all"
    >
      {description}
    </p>
    <span class="text-xs line-clamp-1">{src}</span>
  </div>
  {
    image && (
      <div class="overflow-hidden flex items-center">
        <img
          class="object-cover h-full max-h-40 w-full object-center
        group-hover/item:scale-110 transition-transform duration-200 ease-in-out m-0
        "
          src={image}
          alt={title}
        />
      </div>
    )
  }
</a>
<style>
  .link-preview {
    display: grid;
    grid-template-columns: 70% auto;
    text-decoration: none;
    column-gap: 1em;
  }
  .link-preview:not(:has(img)) {
    grid-template-columns: 1fr;
  }
</style>
