---
import Layout from "./Layout.astro";
import "@styles/markdown/markdown.css";
const { frontmatter } = Astro.props;
---

<style is:global>
  h1 {
  }
  main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
  }
  div.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    /* convert to uppercase */
    text-transform: uppercase;
  }
  pre {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    overflow-x: scroll;
  }
  aside {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }

  span.katex {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
</style>

<Layout>
  <Fragment slot="header">
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
  </Fragment>
  <main class="prose">
    <!-- <h1>{frontmatter.title} by {frontmatter.author}</h1> -->
    <slot />
    <p>Written on: {frontmatter.date}</p>
  </main>
</Layout>
