---
import Common from '../components/common/Common.astro';
import { Gnb } from '../components/gnb-element';
import Layout from './Layout.astro';
// 1. frontmatter prop은 프론트매터 및 기타 데이터에 대한 접근을 제공합니다.
const { frontmatter } = Astro.props;
---

<style is:global>
  h1 {
  }
  main {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    gap: 20px;
  }
  div.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    /* convert to uppercase */
    text-transform: uppercase;
  }
  pre {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    overflow-x: scroll;
  }
</style>

<Layout>
  <Fragment slot="header">
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
  </Fragment>
  <main>
    <!-- <h1>{frontmatter.title} by {frontmatter.author}</h1> -->
    <slot />
    <p>Written on: {frontmatter.date}</p>
  </main>
</Layout>
