---
import ArrowCard from "@components/ArrowCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE_EN } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

const data = (await getCollection("blog"))
  .filter((post) => !post.data.draft)

  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .filter((post, index, self) => {
    const hasEnglishVersion = self.some((p) => p.id === `en/${post.id}`);
    if (hasEnglishVersion && !post.id.startsWith("en/")) {
      return false;
    }
    return true;
  });

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
};

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<PageLayout title={SITE_TITLE_EN} description={SITE_DESCRIPTION}>
  <div class="mx-auto max-w-screen-md px-5">
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">Blog</div>
      <div class="space-y-4">
        {
          years.map((year) => (
            <section class="animate space-y-4">
              <div class="font-semibold text-black dark:text-white">{year}</div>
              <div>
                <ul class="flex flex-col gap-4">
                  {posts[year].map((post) => (
                    <li>
                      <ArrowCard entry={post} />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </div>
</PageLayout>
